body {
  margin: 0px;
  padding: 0px;
  background: #FFF;
}

#header {
  background: #00608A;
  position: absolute;
  top: 10px;
  /*right: 0px;*/
  left: 10px;
  z-index: 10;
  border-radius: 3px;
}

#header .title {
  color: #FFF;
  padding: 15px 15px 7px 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#header .caption {
  color: #FFF;
  padding: 0px 15px 15px 15px;
  font: 100 16px/16px Helvetica Neue, Arial, sans-serif;
}

#footer {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
}

#footer div {
  color: #333;
  padding: 0px 0px;
}

#footer div a {
  color: #009ADB;
  text-decoration: none;
}

#footer div a:hover {
  color: #000;
}

#footer div.copy {
  padding-top: 5px;
  color: #AAA;
}

#footer div.copy a {
  color: #555;
}

#footer div.view {
  color: #111;
  padding-bottom: 5px;
}

#footer div.rules {
  color: #000;
  padding-bottom: 5px;
}

#connect4 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

#connect4 .logger {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 270px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 7px 10px 10px 10px;
}

#connect4 .logger .message {
  padding: 2px 0px;
  color: #333;
}

#connect4 .logger .message.info {
  color: #555;
}

#connect4 .logger .message.info:before {
  content: 'info ';
  color: #008FF5;
  font-family: "Courier New", Courier, monospace;
}

#connect4 .logger .message.warn:before {
  content: 'warn ';
  color: #FFA200;
  font-family: "Courier New", Courier, monospace;
}

#connect4 .logger .message.impt:before {
  content: 'impt ';
  color: #00BA06;
  font-family: "Courier New", Courier, monospace;
}
