body {
  margin: 0px;
  padding: 0px;
  background: #EEE;
}

#connect4 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

#connect4 .logger {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  /*overflow: auto;*/
}

#connect4 .logger .message {
  padding: 2px 10px;
  color: #333;
}

#connect4 .logger .message.info {
  color: #555;
}

#connect4 .logger .message.info:before {
  content: 'info ';
  color: #008FF5;
  font-family: "Courier New", Courier, monospace;
}

#connect4 .logger .message.warn:before {
  content: 'warn ';
  color: #FFA200;
  font-family: "Courier New", Courier, monospace;
}

#connect4 .logger .message.impt:before {
  content: 'impt ';
  color: #00BA06;
  font-family: "Courier New", Courier, monospace;
}
